ul{
    list-style-type: none;
    
}
#buscador{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}
input{
    border-radius: 5px;
}
#cajaa{
    border-radius: 5px;
    background-color: burlywood;
    
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}
#titulo{
    font-size: large;
    
}
a{
    color:white;
    margin-right: 20px;
    text-decoration:none
}

#cerrado{
    background-color:  rgb(47, 173, 47);
    color: black;
    border-radius: 5px;
    height: 100%;
    margin-right: 5%;
    width: 350px;
}
#abierto{
    background-color: rgb(228, 40, 72);
    color: black;
    border-radius: 5px;
    height: 100%;
    margin-right: 5%;
    width: 350px;
    
}
#proceso{
    background-color: yellow;
    border-radius: 5px;
    height: 100%;
    margin-right: 5%;
    width: 350px;
    color: black;
    
}

ul div{
    width: 100%;
    
}
#adicionar{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#salir{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#respuesta{
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    font-size: 14px;
}