
<ul>
    <li>
        <div id="buscador">
            <form [formGroup]="formulario" (submit)="buscarPrioridad()" id="buscador">
                <input type= 'text' formControlName="texto">
                <button mat-raised-button>Buscar</button>
            </form>
        </div>
    </li>
    <p *ngIf="condicion==='vacio'">
        <ngb-alert [dismissible]="false">
          <strong>AVISO</strong> No hay reclamos
        </ngb-alert>
    </p>
    <div id="cajaa" *ngFor="let item of lista | buscarPrioridad:palabrafiltro"  >
        
        <div id="cerrado" *ngIf="item.estado==='cerrado'">
            <ul id="vistadatos" >
                <li id="titulo">
                    #{{item.id}} : {{item.asunto}}
                </li>
                <li id="estado">
                    Estado : {{item.estado}}
                </li>
                <li id="categoria">
                    Categoria : {{item.categoria}}
                </li>
                
            </ul>
        </div>
        <div id="proceso" *ngIf="item.estado==='proceso'">
            <ul id="vistadatos" >
                <li id="titulo">
                    #{{item.id}} : {{item.asunto}}
                </li>
                <li id="estado">
                    Estado : {{item.estado}}
                </li>
                <li id="categoria">
                    Categoria : {{item.categoria}}
                </li>
            </ul>
        </div>
        <div id="abierto" *ngIf="item.estado==='abierto'">
            <ul id="vistadatos" >
                <li id="titulo">
                    #{{item.id}} : {{item.asunto}}
                </li>
                <li id="estado">
                    Estado : {{item.estado}}
                </li>
                <li id="categoria">
                    Categoria : {{item.categoria}}
                </li>
                
            </ul>
        </div>
        <div id="respuesta">
            {{item.respuesta}}
        </div>
    </div>
    <!--PRESIONAR EL BOTON LLEVA AL COMPONENTE CLIENTE-NUEVO-RECLAMO-->
    <li>
    <button id="adicionar" (click)="nuevoreclamo()" mat-raised-button color="primary">+ ADICIONAR</button>
    </li>
    <li>
        <button id="salir" type="submit"  (click)="salir()" mat-raised-button color="warn">Salir</button>
    </li>
</ul>
