<form [formGroup]="formulario"  >
    <div id="caja0" >
        <ul>
            <li>
                <label for="correo">Correo electronico</label>
                <input type="text" formControlName="correo" value="example@mail.com" required>
            </li>
            <li>
                <label for="password">Contraseña</label>

                <input type="text" formControlName="password" required>
            </li>
            <li>
                <a [routerLink]="['/crear']" routerLinkActive="router-link-active">
                    <button  type="submit" mat-raised-button color="primary">Crear Usuario</button>
                </a>
            </li>
            <li>
                <!--Boton para crear nota -->
                   
                <button id="ingresar" type="submit" [disabled]="formulario.invalid"  (click)="ingresar()" mat-raised-button color="primary">Iniciar Sesion</button>
                
            </li>
        </ul>
    </div>
</form>
