<form [formGroup]="formulario"  >
    <div id="caja0">
        <ul>
            <li>
                <label for="prioridad">Prioridad</label>
                
                <select name="prioridad" id="prioridad" formControlName="prioridad">
                    <option value="alta">Alta</option>
                    <option value="media">Media</option>
                    <option value="baja">Baja</option>
                </select>
            </li>
            <li>
                <label for="categoria">Categoria</label>
                <select name="categoria" id="categoria" formControlName="categoria">
                    <option value="Solicitud generica">Solicitud generica</option>
                    <option value="Solicitud de cambio">Solicitud de cambio</option>
                    <option value="Incidente">Incidente</option>
                    <option value="Problema">Problema</option>
                    <option value="Solicitud de hardware">Solicitud de hardware</option>
                    <option value="Solicitud de Software Nuevo">Solicitud de Software Nuevo</option>
                </select>
            </li>
            <li>
                <label for="asunto">Asunto</label>
                <input type="text" formControlName="asunto" required>
            </li>
            <li>
                <label for="descripcion">Descripcion</label>
                <textarea type="text" formControlName="descripcion" required>
                </textarea>
            </li>
            <li>
                <!--Boton para crear Reclamo, se vuelve a cliente-ver reclamo-->
               
                <button id="crear" type="submit"  [disabled]="formulario.invalid" (click)="Crear()" mat-raised-button color="primary">Nuevo reclamo</button>
                
            </li>
            <li>
                <button id="salir" type="submit"  (click)="salir()" mat-raised-button color="warn">Salir</button>
            </li>
        </ul>
    </div>
</form>

