ul{
    list-style-type: none;
    
}
#caja0{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
label{
    display: inline-block;
    width: 100px;
    text-align: right;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
select{
    width: 200px;
    height: 30px;
}
input{
    width: 200px;
    border-radius: 5px;
}
textarea{
    width: 200px;
    border-radius: 5px;
}
button{
    margin-top: 5px;
}