th{
	padding-bottom: 20px;
	text-align: center;
	font-size: calc(.5em + .5vw)
}

img{
	height: 1.4em;
	width: 1.4em;
	filter: invert(1.0);
}


.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	font-size: auto;
}