<div class="footer">
    <table class="table table-bordered table-dark">
        <thead>
            <tr>

                <th>+56998XXXXXX</th>

                <th>reclamos.express@protonmail.com</th>

                <th>Valparaíso</th>

                <th>
                    <div id="social">
                        
                            <a href="https://www.facebook.com"> <img src="../../../assets/facebook.svg"> </a>
                            <a href="https://www.twitter.com"> <img src="../../../assets/twitter.svg"> </a>
                            <a href="https://www.instagram.com"> <img src="../../../assets/instagram.svg"> </a>
                            <a href="https://www.github.com"> <img src="../../../assets/github.svg"> </a>
                            <a href="https://www.discord.com"> <img src="../../../assets/discord.svg"> </a>
                        
                    </div>
                    
                </th>
            </tr>
        </thead>
    </table>
 
</div>