ul{
    list-style-type: none;
    
}
#cajaa{
    border-radius: 5px;
    background-color: burlywood;
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
}
#titulo{
    font-size: large;
    
}
a{
    color:white;
    margin-right: 20px;
    text-decoration:none
}
#cerrado{
    background-color: green;
    border-radius: 5px;
    height: 100%;
    margin-right: 5%;
    width: 350px;
}


ul div{
    width: 100%;
    
}