<ul>
    <div id="cajaa" *ngFor="let item of lista" >
        
        <div id="cerrado" >
            <ul id="vistadatos" >
                <li id="titulo">
                    {{item.rut}} : {{item.nombre}}, {{item.apellido}}
                </li>
                <li id="descrip">
                    Correo contacto: {{item.correo}}
                </li>
            </ul>
        </div>
    </div>
    <button id="reclamos" (click)="VerReclamos()" mat-raised-button color="primary">VER RECLAMOS</button>
    <li>
        <button id="salir" type="submit"  (click)="salir()" mat-raised-button color="warn">Salir</button>
    </li>
    
</ul>