<!--LOGIN, PAGINA INICIAL-->
<div id="cajaform">
<form [formGroup]="formulario"  >
    <legend>Crear usuario</legend>
    <p *ngIf="condicionContr==='no'">
        <ngb-alert >
          <strong>AVISO</strong> Contraseña no confirmada correctamente
        </ngb-alert>
    </p>
    <p *ngIf="condicionRut==='no'">
        <ngb-alert >
          <strong>AVISO</strong> RUT no valido
        </ngb-alert>
    </p>
     <ul>
        <div id="col1">
            <li>
                <label for="rut">Rut</label>
                <input type="text" formControlName="rut" placeholder="XXXXXXXX-X" required>
            </li>
            <li>
                 
                <label for="nombre">Nombre</label>
                <input type="text" formControlName="nombre" required>
            </li>
            <li>
                <label for="apellido">Apellido</label>
                <input type="text" formControlName="apellido" required>
                
            </li>
            <li>
                <label for="residencia">Direccion residencia</label>
                <input type="text" formControlName="residencia"  placeholder="Calle, Numero" required>
            </li>
            <li>
                <label for="region">Region</label>

                <select name="region" id="regiones" formControlName="region" (change)="onChange(this.region.value)">
                    <option value="arica">Arica</option>
                    <option value="tarapaca">Tarapaca</option>
                    <option value="antofagasta">Antofagasta</option>
                    <option value="atacama">Atacama</option>
                    <option value="coquimbo">Coquimbo</option>
                    <option value="valparaiso">Valparaiso</option>
                    <option value="santiago">Santiago</option>
                    <option value="oHiggins">O'Higgins</option>
                    <option value="maule">Maule</option>
                    <option value="nuble">Ñuble</option>
                    <option value="biobio">Biobio</option>
                    <option value="araucania">Araucania</option>
                    <option value="rios">Rios</option>
                    <option value="lagos">Lagos</option>
                    <option value="aysen">Aysen</option>
                    <option value="magallanes">Magallanes</option>
                    <option value="antartica">Antartica</option>
                </select>
            </li>
        </div>
        <div id="col2">  
            <li>
                <label for="comuna">Comuna</label>

                <select name="comuna" id="comunas" formControlName="comuna">
                    <option [value]="i" *ngFor="let i of comunas">{{i}}</option>
                    
                </select>
            </li>
            
            <li>
                <label for="correo">Correo Electronico</label>
                <input type="text" formControlName="correo" required placeholder="Example@mail.com">
            </li>
            <li>
                <label for="password">Ingrese contraseña</label>
                <input  formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                
            </li>
            <li>
                <label for="cpassword">Confirme contraseña</label>
                <input  formControlName="cpassword" matInput [type]="hide2 ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                
            </li>
        </div>  
            <li>
                <!--Boton para crear usuario-->
                
                <button id="crear" type="submit"  [disabled]="formulario.invalid"  (click)="Crear()" mat-raised-button color="primary">Crear usuario</button>
                <button id="salir" type="submit"  (click)="salir()" mat-raised-button color="warn">Salir</button>
            </li>
            <li>
                <!--Boton para volver a LOGIN -->
                
                
                
            </li>
           
         
    </ul>
    
</form>
</div>